.hero {
  border-radius: 2rem;
  overflow: hidden;
  background: url(../assets/images/img-hero.png) no-repeat center / cover;
  position: relative;
}

.hero__container {
  padding: 8rem 6rem;
  width: 50%;
  @media (max-width: 101em)  {
    width: 70%;
    padding: 4rem 3rem;
  }
  @media (max-width: 65.62em) {width: 100%;}
  @media (max-width: 33.75em) {padding: 3rem 3%;}
}
.hero__title {
  font-size: 6rem;
  color: var(--color-text-inverse);
  margin-bottom: 2rem;
  line-height: 1;
  font-weight: 600;
}

.hero__text {
  color: var(--color-text-inverse);
  opacity: 0.8;
  margin-bottom: 5rem;
}

.hero__btn {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 1rem 4rem;
  border-radius: 10rem;
  background-color: var(--color-border-primary);
  color: var(--color-text-primary);
  font-size: 1.2rem;
  font-weight: 600;
  transition: all .3s;
}

.hero__btn:hover {
  transform: scale(1.05);
  background-color: var(--color-text-accent);
  color: var(--color-text-inverse);
}

.hero__btn:active {
  transform: scale(1) translateY(5px);
}
