.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}

.header__button__container{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.hero {
  border-radius: 2rem;
  overflow: hidden;
  background: url(../assets/images/img-hero.png) no-repeat center / cover;
  position: relative;
}

.hero__container {
  padding: 8rem 6rem;
  width: 50%;
}

.footer__container {
  background-color: var(--color-bg-container);
  border-radius: 4rem;
  padding: 6rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.footer__brand {
  flex-grow: 1;
}

.footer__socials {
  display: flex;
  gap: 1rem;
}

@media (max-width: 48em)  {
  .footer__container {
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 5%;
  }
}

@media (max-width: 101em)  {
.hero__container {
  width: 70%;
  padding: 4rem 3rem;
}
}

@media (max-width: 65.62em) {
.hero__container {width: 100%;}
}

@media (max-width: 33.75em) {
  .hero__container {padding: 3rem 3%;}
}