:root {
  --color-text-primary: #403f3d;
  --color-text-inverse: #e1d4c9;
  --color-text-accent: #b0907a;

  --color-bg-page: #e1d4c9;
  --color-bg-container: #665f55;
  --color-bg-overlay: #403f3dcc;
  
  --color-border-primary: #c1b6ad;
  --color-border-inverse: #665f55;

  --color-dark: #000;
  --color-white: #fff;
}

.dark-theme {
  --color-text-primary: #e1d4c9;
  --color-text-inverse: #e1d4c9;
  --color-text-accent: #b0907a;

  --color-bg-page: #292826;
  --color-bg-container: #403f3d;
  --color-bg-overlay: #292826cc;

  --color-border-primary: #665f55;
  --color-border-inverse: #c1b6ad;
}

@supports (color: color-mix(in srgb, red, blue)) {
  :root {
    --color-background-Overlay: color-mix(in srgb #403f3d 80%, transparent);
  }
}